<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scan Text</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan Text</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Show the captured image if available -->
  <img *ngIf="imageUrl" [src]="imageUrl" alt="Captured Image">

  <!-- Button to capture an image -->
  <ion-button (click)="takePicture()">Take Picture</ion-button>

  <!-- Buttons to save or remove the image -->
  <ion-button *ngIf="imageUrl" (click)="saveImage()">Save</ion-button>
  <ion-button *ngIf="imageUrl" (click)="removeImage()">Remove</ion-button>
</ion-content>
