// Changing colour to red for incorrect words
.incorrect-word {
    color: red; /* Highlight incorrect word in red */
    font-weight: bold; /* Optional: Make it bold for better visibility */
  }
  
// Changing colour to green for correct words
  .correct-word {
    color: green;
    font-weight: bold;
  }