<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Files
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Files
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card *ngFor="let image of images">
    <img [src]="image" />
    <ion-button (click)="removeImage(images.indexOf(image))" color="danger">Remove</ion-button>
  </ion-card>
  
</ion-content>
